<br>
<div class="container">
  <form action="data2" id="tab" method="POST">
        <label for="sel1">Select Member:</label>
        <select class="selectpicker" data-style="btn-info" name="selectpicker">
              <option name="option1" value="'Alex McMahon'">Alex McMahon</option>
              <option name="option2" value="'Denise Hoffman'">Denise Hoffman</option>
            </optgroup>
        </select>
        <br>
        <label font ="25px" for="sell2">Select Exercise:</label>
        <select class="selectpicker2" data-style="btn-info-success" name="selectpicker2">
          <option name="option61" value="'1/2 Get Ups'">1/2 Get Ups</option>
          <option name="option46" value="'1/2 TGU'">1/2 TGU</option>
          <option name="option45" value="'15 minute Technical Skill Progression on SL Squat, Pullup, Pushup'">15 minute Technical Skill Progression on SL Squat, Pullup, Pushup</option>
          <option name="option15" value="'20 second Lunge Iso">20 second Lunge Iso</option>
          <option name="option1" value="'Back Squat'">Back Squat</option>
          <option name="option49" value="'Band Pull Apart'">Band Pull Apart</option>
          <option name="option67" value="'Barbell Row'">Barbell Row</option>
          <option name="option48" value="'Barbell Row 3 second Iso'">Barbell Row 3 second Iso</option>
          <option name="option68" value="'BB Hang High Pull'">BB Hang High Pull</option>
          <option name="option13" value="'BB OH Press'">BB OH Press</option>
          <option name="option62" value="'BB OH Press (Descending Eccentric)'">BB OH Press (Descending Eccentric)</option>
          <option name="option7" value="'BB RDL'">BB RDL</option>
          <option name="option76" value="'BB Squat (3-3-0)'">BB Squat (3-3-0)</option>
          <option name="option2" value="'Bench Press'">Bench Press</option>
          <option name="option40" value="'Biceps Curls'">Biceps Curls</option>
          <option name="option33" value="'Box Squat'">Box Squat</option>
          <option name="option18" value="'Breathing Pause Squat'">Breathing Pause Squat</option>
          <option name="option24" value="'Chest Supported Row'">Chest Supported Row</option>
          <option name="option70" value="'Chest Supported Row (0-3-3)'">Chest Supported Row (0-3-3)</option>
          <option name="option28" value="'Cossack Squat'">Cossack Squat</option>
          <option name="option72" value="'Cross Waiter Carry (30 seconds)'">Cross Waiter Carry (30 seconds)</option>
          <option name="option88" value="'DB Bench Press'">DB Bench Press</option>
          <option name="option77" value="'DB Bench Press 3 sec eccentric'">DB Bench Press 3 sec eccentric</option>
          <option name="option35" value="'DB Clean & Press'">DB Clean & Press</option>
          <option name="option39" value="'DB Flat Press'">DB Flat Press</option>
          <option name="option90" value="'DB Floor Press'">DB Floor Press</option>
          <option name="option47" value="'DB OH Carry'">DB OH Carry</option>
          <option name="option30" value="'DB RDL'">DB RDL</option>
          <option name="option73" value="'DB RDL (3 sec eccentric)'">DB RDL (3 sec eccentric)</option>
          <option name="option32" value="'DB Row'">DB Row</option>
          <option name="option26" value="'DB Snatch'">DB Snatch</option>
          <option name="option10" value="'DB Snatch to Press'">DB Snatch to Press</option>
          <option name="option81" value="'Dead Stop DB Row'">Dead Stop DB Row</option>
          <option name="option82" value="'Deadlift'">Deadlift</option>
          <option name="option64" value="'Dips'">Dips</option>
          <option name="option78" value="'Farmer Carry (30 seconds)'">Farmer Carry (30 seconds)</option>
          <option name="option22" value="'Farmer Squats'">Farmer Squats</option>
          <option name="option29" value="'Farmer's Carry'">Farmer's Carry</option>
          <option name="option36" value="'Floor Press'">Floor Press</option>
          <option name="option84" value="'Front Rack Reverse Lunge">Front Rack Reverse Lunge</option>
          <option name="option87" value="'Front Squat'">Front Squat</option>
          <option name="option60" value="'Goblet Carry'">Goblet Carry</option>
          <option name="option75" value="'Goblet Carry (1 minute)'">Goblet Carry (1 minute)</option>
          <option name="option79" value="'Goblet Carry (30 seconds)'">Goblet Carry (30 seconds)</option>
          <option name="option11" value="'Goblet Squat'">Goblet Squat</option>
          <option name="option55" value="'Goblet Squat (3-3-0)'">Goblet Squat (3-3-0)</option>
          <option name="option74" value="'Goblet Squat (3-3-3)'">Goblet Squat (3-3-3)</option>
          <option name="option12" value="'Good Mornings'">Good Mornings</option>
          <option name="option17" value="'Hand Release Pushups (weight)'">Hand Release Pushups (weight)</option>
          <option name="option34" value="'Handstand Skill Work'">Handstand Skill Work</option>
          <option name="option14" value="'Head Supported Row'">Head Supported Row</option>
          <option name="option5" value="'Incline Bench Press'">Incline Bench Press</option>
          <option name="option37" value="'Incline DB Press'">Incline DB Press</option>
          <option name="option21" value="'KB Swing'">KB Swing</option>
          <option name="option31" value="'Kneeling DB OH Press'">Kneeling DB OH Press</option>
          <option name="option44" value="'Kneeling DDB OH Leg Switches (45 seconds)'">Kneeling DDB OH Leg Switches (45 seconds)</option>
          <option name="option4" value="'Landmine Press'">Landmine Press</option>
          <option name="option91" value="'Laying OH Sled Pull'">Laying OH Sled Pull</option>
          <option name="option63" value="'Loaded Carry'">Loaded Carry</option>
          <option name="option51" value="'Lunge w/ DB Reach 30 second Iso'">Lunge w/ DB Reach 30 second Iso</option>
          <option name="option38" value="'Open Run'">Open Run</option>
          <option name="option25" value="'Overhead Squat'">Overhead Squat</option>
          <option name="option83" value="'Paused Front Squat'">Paused Front Squat</option>
          <option name="option65" value="'Paused Goblet Squat'">Paused Goblet Squat</option>
          <option name="option80" value="'Pendlay Row'">Pendlay Row</option>
          <option name="option9" value="'Pullups'">Pullups</option>
          <option name="option56" value="'Pushup (3-3-0)'">Pushup (3-3-0)</option>
          <option name="option8" value="'Pushups'">Pushups</option>
          <option name="option59" value="'Pushups (3-3-3)'">Pushups (3-3-3)</option>
          <option name="option6" value="'Reverse Lunge'">Reverse Lunge</option>
          <option name="option58" value="'Ring Row (3-3-3)'">Ring Row (3-3-3)</option>
          <option name="option71" value="'SA DB Bench Press'">SA DB Bench Press</option>
          <option name="option66" value="'SA DB OH Press'">SA DB OH Press</option>
          <option name="option53" value="'SA Flat Press'">SA Flat Press</option>
          <option name="option16" value="'SA OH Carry'">SA OH Carry</option>
          <option name="option92" value="'SA OH DB Press To Windmill'">SA OH DB Press To Windmill</option>
          <option name="option69" value="'SA OH Lunge'">SA OH Lunge</option>
          <option name="option19" value="'Shrimp Squat'">Shrimp Squat</option>
          <option name="option41" value="'SL Squat Switches'">SL Squat Switches</option>
          <option name="option27" value="'Sled Walk'">Sled Walk</option>
          <option name="option3" value="'Split Squat'">Split Squat</option>
          <option name="option52" value="'Split Squat (3-3-0)'">Split Squat (3-3-0)</option>
          <option name="option50" value="'Split Squat Descending Eccentric'">Split Squat Descending Eccentric</option>
          <option name="option43" value="'Spoto Press'">Spoto Press</option>
          <option name="option57" value="'Squat Descending Eccentrics'">Squat Descending Eccentrics</option>
          <option name="option86" value="'Strict Press'">Strict Press</option>
          <option name="option54" value="'Strict Press (0-3-3)'">Strict Press (0-3-3)</option>
          <option name="option42" value="'Suitcase Carry'">Suitcase Carry</option>
          <option name="option85" value="'Sumo Deadlift'">Sumo Deadlift</option>
          <option name="option89" value="'Turkish Get Up'">Turkish Get Up</option>
          <option name="option23" value="'Walking Lunge'">Walking Lunge</option>
          <option name="option20" value="'Windmill'">Windmill</option>

</optgroup>
</select>
  <br>
        <button  justify-content: "center" type="submit" class="btn btn-success">Get Data</button>
      </form>
</div>
<div class="container">
  <div class="row justify-content-md-center">
  <h1 align="center"> Results for {{this.Component1}} </h1>
  <hr>
  <table class="table">
    <thead>
      <th score="col"> Date </th>
      <th score="col"> Result </th>
      <th score="col"> Personal Record? </th>
      <th score="col"> Comments </th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td width="20%">{{this.Date}}</td>
        <td width="20%">{{this.Result}}</td>
        <td width="20%">{{this.IsPr}}</td>
        <td width="40%">{{this.comment}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
